.banner {
	overflow: hidden;
	background-size: cover;
	background-image: url(images/building%20hosp.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	height: 250px;
}

.wrap { 
   position:absolute;
   left:100px;
   top:100px; 
}
.fixed { 
   position:fixed; 
   background-color:#333;
   margin-left:200px;
   margin-top:200px; 
}